go 1.24

use (
	./cmd/gork
	./cmd/lintgork
	./examples
	./internal/lintgork
	./pkg/adapters/chi
	./pkg/adapters/echo
	./pkg/adapters/gin
	./pkg/adapters/gorilla
	./pkg/adapters/stdlib
	./pkg/api
	./pkg/unions
)
